<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="registration.hospitalregistration.mapper.Imp.doctorMapper">
<!--    查询医生的须有信息-->
    <select id="doctorList" resultType="registration.hospitalregistration.pojo.Doctor">
        SELECT doctors.id
             , doctors.`name`
             , doctors.gender
             , doctors.birthday
             , doctors.technical
             , doctors.create_time
             , departments.`name` as department
        FROM doctors
                 INNER JOIN departments
        WHERE doctors.department_id = departments.id;
    </select>
<!--    传入部门id返回该部门的所有医生信息-->
    <select id="doctorListById" resultType="registration.hospitalregistration.pojo.Doctor">
        SELECT doctors.id
             , doctors.`name`
             , doctors.gender
             , doctors.birthday
             , doctors.technical
             , doctors.create_time
             , departments.`name` as department
        FROM doctors
                 INNER JOIN departments
        WHERE doctors.department_id = departments.id and doctors.department_id = #{id};
    </select>
    <select id="registrationList" resultType="registration.hospitalregistration.pojo.Registration_">

    </select>
    <select id="patientList" resultType="registration.hospitalregistration.pojo.Patient">

    </select>
</mapper>
